@model IEnumerable<TallerMotos.Models.Motos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<body class="bg-dark">

    <h1 style="color:white">Index</h1>
    
    <p>
        <a asp-action="Create" style="color:white">Añadir</a> |  <a asp-action="Index" asp-controller="MotosClientes" style="color:white">Listado de Motos Clientes</a>
    </p>

    <table class="table table-dark">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cilindrada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.nombreCliente)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cilindrada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.nombreCliente)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id" style="color:white">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id" style="color:white">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id" style="color:white">Delete</a> 
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>