@model TallerMotos.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidosCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidosCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CiudadCliente)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DNICliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DNICliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DomicilioCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DomicilioCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idCliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
