@model IEnumerable<TallerMotos.Models.Clientes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidosCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudadCliente)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.dniCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.domicilioCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidosCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudadCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dniCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.domicilioCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
