@model TallerMotos.Models.Proveedores

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Eliminar</h1>

<h3 style="color:white">Tas seguro bro?</h3>
<div>
    <h4 style="color:white">Proveedor</h4>
    <hr />
    <dl class="row bg-dark" style="color:white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricanteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricanteId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" style="color:white">Atras</a>
    </form>
</div>
