@model TallerMotos.Models.Facturas

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<body class="bg-dark">
    <h1 style="color: white">Editar</h1>

    <h4 style="color: white">Facturas</h4>
    <hr />
    <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />

            @Html.EditorForModel()
        </form>
    </div>
    <!--
    <table>
        @foreach (VentasLineas vl in Model.VentasLineas) {
            <tr>
                <td>@vl.FacturasId</td>
                <td>@vl.Producto</td>
                <td>@vl.precio</td>€
            </tr>
        }
    </table>
    -->

    <hr />
    <h4 style="color: white">Productos y servicios</h4>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripción del producto o servicio</th>
            </tr>
        </thead>
        @foreach (var tab02 in Model.VentasLineas)
        {
            <tr>
                <th scope="row">
                    @tab02.id

                </th>
                <td>
                    @tab02.precio€
                </td>
                <td>
                    @if (tab02.Producto != null)
                    {
                        <span>@tab02.Producto.descripcion</span>
                    }

                </td>
                <td>
                    EDITAR VENTA LINEA<!--<a asp-action="/VentasLineas/Edit" asp-route-id="@tab02.id">Editar Venta Linea</a>-->
                </td>
            </tr>
        }
    </table>

    <a class="btn btn-primary" href="/VentasLineas/Create?idFactura=@Model.id">Añadir</a>

    <div>

        <a asp-action="Index" style="color: white">Volver</a>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>