@model IEnumerable<TallerMotos.Models.Facturas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Cliente
            </th>
            
            <th scope="col">
                Empleado
            </th>
            <th scope="col">
                Fecha
            </th>
            <th scope="col">
                Taller
            </th>
            <th scope="col">
                Importe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.Cliente.nombreCliente)
            </th>
           
            <td>
                @Html.DisplayFor(modelItem => item.idEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTaller)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.total)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
