@using TallerMotos.Models.ViewData
@model List<FacturasTaller>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>FacturasTallerIndex</h1>
<form asp-action="Index">
    <div class="row">
        <div class="col-2">
            Taller:
        </div>
        <div class="col-4">
            <select name="taller" class="form-control" value="@ViewBag.Taller">
                <option value="0">Todos</option>
            </select>
        </div>
        <input type="submit" value="Consultar" class="btn btn-primary" />
    </div>
</form>
<hr />
@if (Model != null)
{
    <table class="table table-striped">
        @foreach (FacturasTaller item in Model)
        {
            <tr>
                <td>@item.idFactura</td>
                <td>@item.nombreCliente</td>
                <td>@item.idTaller</td>
                <td>@item.ciudad</td>
            </tr>
        }
    </table>
}
