@using TallerMotos.Models.ViewData
@model List<FacturasEmpleados>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h1>Listado de Facturas por Empleado</h1>


<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-2">
            Empleado:
        </div>
        <div class="col-4">
            <select name="nombreEmpleado" class="form-control" asp-items="@ViewBag.Empleado">
                <option value="">Todos</option>
            </select>
        </div>
        <input type="submit" value="Consultar" class="btn btn-primary" />
    </div>

</form>

@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id Factura</th>
                <th>Importe Total</th>
                <th>Id Empleado</th>
                <th>Nombre Empleado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FacturasEmpleados item in Model)
            {
                <tr>
                    <td>@item.idFactura</td>
                    <td>@item.total</td>
                    <td>@item.idEmpleado</td>
                    <td>@item.nombreEmpleado</td>
                </tr>
            }
        </tbody>
    </table>
}