@model IEnumerable<TallerMotos.Models.ViewData.Fabricantes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreFabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreFabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a> |
                <a asp-action="ListadoFabricantes" asp-controller="Fabricantes" >Listado de Fabricantes</a> |
            </td>
        </tr>
}
    </tbody>
</table>
