@model IEnumerable<TallerMotos.Models.ViewData.ProductosProveedores>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    int counterTotal = 0;
    int counterMotores = 0;
    int counterCascos = 0;
    int counterNeumaticos = 0;
    int counterSuspension = 0;
    int counterAccesorios = 0;
    int counterFrenos = 0;


    int counterMBien = 0;
    int counterJuan = 0;
    int counterRTi = 0;
    int counterRTuTia = 0;
    int counterPaco = 0;
    int counterVerdin = 0;
}


<h1>Listado de productos y proveedores</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fabricante)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fabricante)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.stock)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.nombreProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
            </tr>
            counterTotal += item.stock;
            if (item.tipo == "FR")
            {
                counterFrenos += item.stock;
            }
            else if (item.tipo == "NM")
            {
                counterNeumaticos += item.stock;
            }
            else if (item.tipo == "MT")
            {
                counterMotores += item.stock;
            }
            else if (item.tipo == "SU")
            {
                counterSuspension += item.stock;
            }
            else if (item.tipo == "CC")
            {
                counterCascos += item.stock;
            }
            else if (item.tipo == "CA")
            {
                counterAccesorios += item.stock;
            }

            if(item.nombreProveedor == "Motores bien")
            {
                counterMBien += item.stock;
            }
            else if(item.nombreProveedor == "Motores Juan")
            {
                counterJuan += item.stock;
            }
            else if (item.nombreProveedor == "Recambios pa ti")
            {
                counterRTi += item.stock;
            }
            else if (item.nombreProveedor == "Recmabios pa tu tia")
            {
                counterRTuTia += item.stock;
            }
            else if (item.nombreProveedor == "Recambios Paco")
            {
                counterPaco += item.stock;
            }
            else if (item.nombreProveedor == "Recambios Verdin")
            {
                counterVerdin += item.stock;
            }
        }
    </tbody>
</table>



<div class="row">

    <div id="container" class="col-6"></div>

    <div id="container2" class="col-6"></div>
</div>



@section Scripts{
    <script>
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Productos<br>en<br>Stock',
                align: 'center',
                verticalAlign: 'middle',
                y: 60
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%'],
                    size: '110%'
                }
            },
            series: [{
                type: 'pie',
                name: 'Porcentaje',
                innerSize: '50%',
                data: [
                    ['Frenos', @(100*counterFrenos / counterTotal)],
                    ['Motores', @(100 * counterMotores / counterTotal)],
                    ['Cascos', @(100 * counterCascos / counterTotal)],
                    ['Nuemáticos', @(100 * counterNeumaticos / counterTotal)],
                    ['Suspensiones', @(100 * counterSuspension / counterTotal)],
                    ['Accesorios', @(100 * counterAccesorios / counterTotal)],
                    {
                        name: 'Other',
                        y: 0,
                        dataLabels: {
                            enabled: false
                        }
                    }
                ]
            }]
        });


    </script>


    <script>

        Highcharts.chart('container2', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Analisis<br>de<br>Proveedores',
                align: 'center',
                verticalAlign: 'middle',
                y: 60
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%'],
                    size: '110%'
                }
            },
            series: [{
                type: 'pie',
                name: 'Porcentaje',
                innerSize: '50%',
                data: [
                    ['Motores Bien', @(100*counterMBien / counterTotal)],
                    ['Motores Juan', @(100*counterJuan / counterTotal)],
                    ['Recambios pa ti', @(100*counterRTi / counterTotal)],
                    ['Recambios pa tu tia', @(100*counterRTuTia / counterTotal)],
                    ['Recambios Verdin', @(100*counterVerdin / counterTotal)],
                    ['Recambios Paco', @(100*counterPaco / counterTotal)]


                ]
            }]
        });



    </script>
}