@model TallerMotos.Models.Clientes
@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NombreCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NombreCliente)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ApellidosCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ApellidosCliente)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ciudadCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ciudadCliente)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DNICliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DNICliente)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DomicilioCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DomicilioCliente)
    </dd>
</dl>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
