@model TallerMotos.Models.Clientes
@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<dl class="row">
    <dt class="col-sm-2 table-dark">
        @Html.DisplayNameFor(model => model.nombreCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.nombreCliente)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.apellidosCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.apellidosCliente)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ciudadCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ciudadCliente)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.dniCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.dniCliente)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.domicilioCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.domicilioCliente)
    </dd>
</dl>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
