@model IEnumerable<TallerMotos.Models.VentasLineas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Ventas lineas</h1>

<p>
    <a asp-action="Create" style="color:white">Añadir</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                Producto
                
            </th>
            <th>
                Servicio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
            <th>
                ID Facturas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacturasId)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.id" style="color:white">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id" style="color:white">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id" style="color:white">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
